@import url("https://fonts.googleapis.com/css?family=Alegreya+SC|Alegreya:400,400i,700|Cousine");
html {
  padding: 0;
  margin: 0; 
}
body {
  margin: 0;
  padding: 0;
  font-family: "Alegreya", serif;
  font-size: 18px;
  color: #21211a;
  background-color: white;
/*  text-align: justify; */

}

/* Navigation bar */

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
/*    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;  */
}

.navbar li {
    float: left;
}

.navbar li a, .droptn {
    display: inline-block;
/*    color: #666;  */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover, .dropdown:hover .dropbtn {
/*  background-color: #ddd;  */
}

.navbar li.dropdown {
  display: inline-block;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
 /* background-color: #f9f9f9;  */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar .dropdown-content a:hover:not(.active) {
/*    background-color: #f1f1f1;  */
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.navbar li a.active, .dropbtn {
/*    background-color: #ddd;  */
    text-decoration: underline;

}

/*
@media screen and (max-width: 600px) {
  ul.navbar li.left, 
  ul.topnav li {float: none;}
}
*/

}
@media screen and (min-width: 530px) {
  body {
    font-size: 21px;
  }
}
section {
  margin-top: 1em;
}
section p {
  margin: 0.15em 0;
}
section p + p {
  text-indent: 1.5em;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
h2.footnotes {
  font-family: "Alegreya SC";
  font-size: 100%;
  border-bottom: none;
  border-top: 2px solid #808080;
}

.todo {
  color: #00f;
}

.timestamp {
  color: #b0b09a;
}

header {
    padding: 20px;
    margin: 10px;
}

.blogcategory h2 {
  border-bottom: 2px solid #d7d7cd;
  margin-bottom: 0.5em;
}
.blogcategory ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 2.5em;
  text-indent: -2.5em;
}
.blogcategory h3 {
  font-size: 1em;
  padding: 0;
  margin: 0;
}
.todo,
.done {
  margin-right: 0.3em;
  border: 1px solid #b0b09a;
  padding: 2px;
}
.todo {
  color: #00f;
}
.timestamp {
  color: #b0b09a;
}
header {
  margin: 10px;
}
a {
  color: #21211a;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
a:hover {
/*  background-color: #d3d3a8; */
/*    background-color: #00BFFF; */
}
#content {
    margin: auto;
    margin-bottom: 1.5em;
    padding: 0 0.5em;

}

#postamble {
    margin: auto;
    margin-bottom: 1.5em;
    font-size: 75%; 
}
#postamble .author {
/*    margin-bottom: 100px; */
}

#postamble .date {
/*    margin-bottom: 100px;  */
    /*color: #27AE60;*/
}

#postamble .validation {
    display:none;
}

#copyright a{
    color:#2980B9;
    text-decoration:none}

#copyright .rst-current-version{
    padding:12px;
    background-color:#272525;
    display:block;
    text-align:right;
    font-size:90%;
    cursor:pointer;
    color:#27AE60;
    *zoom:1}

@media screen and (min-width: 460px) {
  #content,
  #postamble {
    padding: 0 2em;
  }
}
@media screen and (min-width: 530px) {
  #content,
  #postamble {
    max-width: 560px;
  }
}
#table-of-contents a {
  text-decoration: none;
  font-family: "Alegreya SC", "Alegreya", serif;
}
#table-of-contents ul {
/*  list-style-type: none;  */
  list-style-type: none;
  padding-left: 0;
}
pre,
code {
  font-family: "Cousine", monospace;
}
pre {
  font-size: 60%;
  background-color: #fff;
  padding: 3pt;
  margin: 1.2em 0em;
}
@media screen and (min-width: 460px) {
  pre {
    margin: 1.2em -2.3em;
  }
}
code {
  font-size: 85%;
  background-color: #e6e6da;
  border: 1px solid #ccc;
}
table {
      border-collapse: collapse;
      width: 100%;
  /* margin: auto;
  margin-top: 1em;
  margin-bottom: 1em; */
}
table + table {
  margin-top: 2em;
}
th,
td {
  padding: 0 0.25em;
}
tr:nth-child(odd) {
/*  background-color: #f2f2f2; */
}
th {
/*  background-color: #dadada;  */
  background-color: white;
  padding: 0.3em 0;
  border-bottom: 2px solid;
  border-top: 2px solid;
}
.underline {
  font-family: "Alegreya SC", sans-serif;
  text-transform: lowercase;
  letter-spacing: 0.5px;
  text-decoration: none;
}
#preamble {
    background-color: white;
    margin: 0px;
}
.subtitle {
  font-style: italic;
  font-weight: normal;
  font-size: 100%;
  margin: 0;
}
#preamble {
/*  background-color: #e3e3c7;  */
  background-color: white;
}
#head {
  margin: auto;
  font-family: "Alegreya SC", sans-serif;
}
#head a {
  text-decoration: none;
}
@media screen and (min-width: 530px) {
  #head {
    max-width: 560px;
  }
}
#head >h1 {
  font-size: 120%;
  font-weight: normal;
  display: inline;
}
#head >ul {
  display: inline;
  list-style-type: none; 
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#head >ul li {
  display: inline;
  padding-right: 10px;
}
sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

.footref::before,
.footnum::before {
  content: "[";
}
.footref::after,
.footnum::after {
  content: "]";
}


.sidenote {
  display: none;
  position: absolute;
  left: calc(50% + 560px / 2 + 30px);
/*  width: 238px;  */
  width: 275px;
  text-indent: 0;
  font-size: 70%;
}
.sidenote figure {
  padding: 0;
  margin: 0;
}
.sidenote img {
  max-width: sidenote-width;
  width: 100%;
  height: auto;
}
.sidenote p.footpara:not(:first-child) {
  display: block;
}
@media screen and (min-width: 900px) {
  #content.has-sidenotes #footnotes {
    display: none;
  }
  #content.has-sidenotes .sidenote {
    display: inline;
  }
  #content.has-sidenotes {
    position: relative;
    left: -13%;
    text-align: justify;
  }
}

@media screen and (min-width: 1150px) {
  #content.has-sidenotes {
    left: 0;
  }
}

.figure-number {
  display: none;
}

.img {
    display: inline;
    vertical-align: bottom;
}


.title {
    font-size: 100%;
    font-weight: bold; 
    margin: 0px;
}
.subtitle {
    font-style: italic;
    font-weight: normal;  
    font-size: 150%;
    margin: 0;
  border-bottom: 1px solid #999999;
  margin-bottom: 0.5em; 
}
