/about.html~
/about.org~
/colleagues.html~
/colleagues.org~
/css/.DS_Store
/css/footnotes.css
/css/readtheorg-bak.css
/css/style-bak.css
/css/style-test.css
/css/style.css~
/full.html
/full.html~
/full.org
/full.org~
/img/.DS_Store
/img/RG_logo.png
/img/Sans titre-bak.jpg
/img/email_logo.png
/img/github_logo.png
/img/google_scholar_logo.png
/img/images.pptx
/img/orcid_logo.jpg
/img/phone-logo.png
/img/rid_logo.png
/img/scopus_logo.png
/img/twitter_logo.png
/index.html~
/index.org~
/news-test.html
/news-test.html~
/news-test.org
/news.html~
/news.org~
/outreach.html~
/outreach.org~
/production-test.html
/production-test.html~
/production-test.org
/production.html~
/production.org~
/research.html~
/research.org~
/tools.html~
/tools.org~
/index-test.html
/index-test.org
/index-test.org~
/img/github_logo.svg
/img/index.png
/img/linkedin-logo.png
/img/mail-envelope.png
/img/orcid_logo.png
/img/overleaf.jpg
/img/rid.png
/img/rid_logo_small-bak.png
/img/scopus_white.png
/about-test.html
/about-test.html~
/about-test.org
/about-test.org~
/css/style-test.css~
/img/logo_at.png
/img/logo_github.png
/img/logo_twitter.jpg
/img/overleaf-small_inv.png
/img/postal_mail.png
/img/postal_mail_small.png
/img/stamp_logo.png
/about-bak.org
/website.org
/research-test.html
/research-test.org
